.modal-backdrop{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top:0;
    left:0;
    background-color: rgba(22, 12, 12, 0.5);

}


.modal-content-wrapper{
    position: fixed;
    width: 300px;
    height: 300px;
    background-color: blanchedalmond;
    margin: auto;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    padding: 50px;
}