
html{
  background-image: linear-gradient(rgb(78, 142, 163),rgb(100, 66, 128));
  height: 100vh;

}

body{
  margin:0;
  overflow-x: hidden;
}

.v-header{
height: 100vh;
display: flex;
align-items: center;
}

.container{
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
  
}


#bg{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.bgcontent{
 background-color: aqua; 
height: 100%;
width: 100%;
top:0;
left:0;
position: absolute;
}

.header-overlay{
  height: 100vh;
  width: 100vw;
  position:absolute;
  top:0;
  left:0;
  background:linear-gradient(rgba(78, 142, 163, 0.8),rgba(100, 66, 128, 0.8));
  
}