*{
     margin:0;
     padding: 0;
     box-sizing: border-box;     
}


nav{
    background: rgba(143, 115, 172, 0.4);  
   
}

.navbarVisible{
  display:initial
}

.navbarInvisible{
  display:none
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin: 0 30px;
    

}

nav ul li{
    padding: 15px;
    cursor: pointer;
    position: relative;
    width: auto;
    margin: 0 20px;
    text-align: center;
   
}


nav ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: .4s;
}

nav ul li:hover a{
    color: rgb(166, 255, 255);
  }




  @media all and (max-width: 900px){
    nav{
        height: 34vh;

       
    }


    nav ul{
      flex-direction:column;
      margin: auto;
     
    }


    nav ul li{
      width: 100%;
      margin: auto;
    }
    
    
    nav ul li:hover{
      background-color:cadetblue ;
    }

   
   
  }
